body {
    background-color: #222 !important;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    padding: auto;
}

#quote-box {
    margin: auto;
    padding: auto;
    text-align: center;
    width: 50%;
    border-radius: 3px;
    position: relative;
    display: table;
    background-color: #000;
    padding: 50px 50px;
}

#text {
    font-size: 2rem;
}

#author {
    font-size: 1rem;
    text-align: right;
}

#buttons {
    position: sticky;
    padding: 1vw;
    margin: 1vw;
}
